In [2]:
import math
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, roc_curve, auc
import matplotlib.pylab as plt
from dmba import regressionSummary, classificationSummary
from dmba import liftChart, gainsChart

In [58]:
df = pd.read_csv('DataToyotaCorolla.csv')

In [59]:
df.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,0,0,0,1,0,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,1,0,0,0,1,0,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,0,1,0,1,0,0,0,0

In [71]:
cat=['Fuel_Type','Color']
df2 = pd.get_dummies(df[cat], drop_first=True)
df2.head()

,Fuel_Type_Diesel,Fuel_Type_Petrol,Color_Black,Color_Blue,Color_Green,Color_Grey,Color_Red,Color_Silver,Color_Violet,Color_White,Color_Yellow
0,1,0,0,1,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,1,0,0,0
2,1,0,0,1,0,0,0,0,0,0,0
3,1,0,1,0,0,0,0,0,0,0,0
4,1,0,1,0,0,0,0,0,0,0,0

In [65]:
df2.to_csv('datatoyota.csv',index= False)

In [69]:
predictors = ['Age_08_04', 'KM', 'Fuel_Type', 'HP', 'Automatic','Mfr_Guarantee','Guarantee_Period','Automatic_airco',
'Airco','CD_Player','Powered_Windows','Sport_Model','Tow_Bar','Doors', 'Quarterly_Tax']

outcome = 'Price'

X = df2[predictors]
y = df2[outcome]
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.4, random_state=0)

KeyError: "['Fuel_Type'] not in index"

In [33]:
Training_df.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,0,0,0,1,0,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,1,0,0,0,1,0,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,0,1,0,1,0,0,0,0

In [34]:
predictors = ['Age_08_04', 'KM', 'Fuel_Type', 'HP', 'Automatic','Mfr_Guarantee','Guarantee_Period','Automatic_airco',
'Airco','CD_Player','Powered_Windows','Sport_Model','Tow_Bar','Doors', 'Quarterly_Tax']

outcome = 'Price'

In [36]:
tra_X = pd.get_dummies(Training_df[predictors], drop_first=True)
tra_y = Training_df[outcome]

tra_X.head()

,Age_08_04,KM,HP,Automatic,Mfr_Guarantee,Guarantee_Period,Automatic_airco,Airco,CD_Player,Powered_Windows,Sport_Model,Tow_Bar,Doors,Quarterly_Tax,Fuel_Type_Diesel,Fuel_Type_Petrol
0,23,46986,90,0,0,3,0,0,0,1,0,0,3,210,1,0
1,23,72937,90,0,0,3,0,1,1,0,0,0,3,210,1,0
2,24,41711,90,0,1,3,0,0,0,0,0,0,3,210,1,0
3,26,48000,90,0,1,3,0,0,0,0,0,0,3,210,1,0
4,30,38500,90,0,1,3,0,1,0,1,0,0,3,210,1,0

In [37]:
car_lm = LinearRegression()
car_lm.fit(tra_X, tra_y)

LinearRegression()

In [38]:
print(pd.DataFrame({'Predictor': tra_X.columns, 'coefficient': car_lm.coef_}))

           Predictor  coefficient
0          Age_08_04  -115.408977
1                 KM    -0.021293
2                 HP    41.200125
3          Automatic   440.943693
4      Mfr_Guarantee   219.510398
5   Guarantee_Period    78.554271
6    Automatic_airco  2679.393241
7              Airco   222.159910
8          CD_Player   221.681337
9    Powered_Windows   517.738930
10       Sport_Model   571.218100
11           Tow_Bar  -134.804928
12             Doors   138.727039
13     Quarterly_Tax    20.308785
14  Fuel_Type_Diesel  1705.912631
15  Fuel_Type_Petrol  1896.574852

In [39]:
tra_X.corr()

,Age_08_04,KM,HP,Automatic,Mfr_Guarantee,Guarantee_Period,Automatic_airco,Airco,CD_Player,Powered_Windows,Sport_Model,Tow_Bar,Doors,Quarterly_Tax,Fuel_Type_Diesel,Fuel_Type_Petrol
Age_08_04,1.000000,0.554307,-0.177670,-0.002189,-0.110615,-0.158901,-0.462509,-0.335748,-0.495118,-0.290589,-0.201823,0.188690,-0.170347,-0.187092,-0.094571,0.080214
KM,0.554307,1.000000,-0.345585,-0.068643,-0.168412,-0.146766,-0.290542,-0.127282,-0.271277,-0.160858,-0.093949,0.068036,-0.058732,0.282681,0.389181,-0.425705
HP,-0.177670,-0.345585,1.000000,0.054256,0.140217,0.094740,0.272691,0.225426,0.099816,0.245912,0.018089,0.059211,0.065620,-0.297725,-0.519636,0.474758
Automatic,-0.002189,-0.068643,0.054256,1.000000,0.020874,-0.017268,0.091449,-0.001967,-0.010557,0.033768,0.012097,-0.019672,0.000474,-0.054699,-0.082888,0.074554
Mfr_Guarantee,-0.110615,-0.168412,0.140217,0.020874,1.000000,-0.141788,0.072078,0.004082,0.146073,0.030102,0.079058,0.008500,0.034371,-0.037469,-0.167898,0.162194
Guarantee_Period,-0.158901,-0.146766,0.094740,-0.017268,-0.141788,1.000000,-0.051481,0.031549,-0.019631,0.051736,-0.170965,0.011117,0.058283,-0.197872,-0.077910,0.080593
Automatic_airco,-0.462509,-0.290542,0.272691,0.091449,0.072078,-0.051481,1.000000,0.233842,0.240046,0.215540,0.284871,-0.123104,0.057479,0.140298,0.053930,-0.039379
Airco,-0.335748,-0.127282,0.225426,-0.001967,0.004082,0.031549,0.233842,1.000000,0.239487,0.590140,0.038058,-0.033750,0.154810,0.090866,0.016466,-0.012568
CD_Player,-0.495118,-0.271277,0.099816,-0.010557,0.146073,-0.019631,0.240046,0.239487,1.000000,0.191388,0.078716,-0.085003,0.100401,0.073970,-0.012035,-0.000919
Powered_Windows,-0.290589,-0.160858,0.245912,0.033768,0.030102,0.051736,0.215540,0.590140,0.191388,1.000000,0.066728,-0.012176,0.117391,-0.015048,-0.089804,0.095350
Sport_Model,-0.201823,-0.093949,0.018089,0.012097,0.079058,-0.170965,0.284871,0.038058,0.078716,0.066728,1.000000,-0.142056,-0.103153,0.078090,-0.015653,0.034700
Tow_Bar,0.188690,0.068036,0.059211,-0.019672,0.008500,0.011117,-0.123104,-0.033750,-0.085003,-0.012176,-0.142056,1.000000,0.071132,-0.038317,-0.073832,0.052882
Doors,-0.170347,-0.058732,0.065620,0.000474,0.034371,0.058283,0.057479,0.154810,0.100401,0.117391,-0.103153,0.071132,1.000000,0.103759,0.027034,-0.025349
Quarterly_Tax,-0.187092,0.282681,-0.297725,-0.054699,-0.037469,-0.197872,0.140298,0.090866,0.073970,-0.015048,0.078090,-0.038317,0.103759,1.000000,0.807817,-0.846084
Fuel_Type_Diesel,-0.094571,0.389181,-0.519636,-0.082888,-0.167898,-0.077910,0.053930,0.016466,-0.012035,-0.089804,-0.015653,-0.073832,0.027034,0.807817,1.000000,-0.938325
Fuel_Type_Petrol,0.080214,-0.425705,0.474758,0.074554,0.162194,0.080593,-0.039379,-0.012568,-0.000919,0.095350,0.034700,0.052882,-0.025349,-0.846084,-0.938325,1.000000

In [40]:
regressionSummary(tra_y, car_lm.predict(tra_X))

Regression statistics

                      Mean Error (ME) : 0.0000
       Root Mean Squared Error (RMSE) : 1230.2948
            Mean Absolute Error (MAE) : 936.4291
          Mean Percentage Error (MPE) : -0.8938
Mean Absolute Percentage Error (MAPE) : 8.3720

In [42]:
Testing_df = pd.read_csv('TestingDataToyotaCorolla.csv')

In [51]:
predictors = [ 'Fuel_Type', 'Mfr_Guarantee','Automatic_airco','Sport_Model']

outcome = 'Price'
tes_X = pd.get_dummies(Testing_df[predictors], drop_first=True)
tes_y = Testing_df[outcome]

In [52]:
car2_lm = LinearRegression()
car2_lm.fit(tes_X, tes_y)

LinearRegression()

In [54]:
print(pd.DataFrame({'Predictor': tes_X.columns, 'coefficient': car2_lm.coef_}))

          Predictor  coefficient
0     Mfr_Guarantee   540.431228
1   Automatic_airco   890.603752
2       Sport_Model  -197.164595
3  Fuel_Type_Diesel  1315.963374
4  Fuel_Type_Petrol  1706.062914

In [56]:
regressionSummary(tes_y, car2_lm.predict(tes_X))

Regression statistics

                      Mean Error (ME) : -0.0000
       Root Mean Squared Error (RMSE) : 1166.5744
            Mean Absolute Error (MAE) : 920.1548
          Mean Percentage Error (MPE) : -2.0818
Mean Absolute Percentage Error (MAPE) : 11.5711